*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

h1,
h2 {
  align-items: center;
  text-align: center;
}

ul {
  text-align: center;
  align-items: center;
  list-style: none;
}

ol {
  text-align: center;
  list-style-position: inside;
}

li:not(:last-child) {
  padding-bottom: 0.25rem;
}

.block {
  padding: 1rem 20rem 0rem 20rem;
  align-items: center;
}

.header {
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.recipe-name {
  padding: 1.125rem 0rem;
}

.butter-chicken-img {
  width: 50%;
  height: auto;
  align-items: center;
}

/* List of ToDo
- Make image appropriate size
- separate page in sections
- centralize and compartmentalize sections

*/